<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My TTRPG Companion</title>
    </head>
    <body>
        <h1>Manage Characters</h1>     
        <form action="/Character" class="inline">
            <button class="float-left submit-button" >Load Character</button>
        </form>
         
        <form action="/characters/creator" class="inline">
            <button class="float-left submit-button" >New Character</button>
        </form>

    </body>
</html>
