<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My TTRPG Companion</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home_page.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <div class="die">
            <a href="characters" class="face">Character</a>
            <a href="page2.html" class="face">2</a>
            <a href="page3.html" class="face">3</a>
            <a href="page4.html" class="face">4</a>
            <a href="page5.html" class="face">5</a>
            <a href="page6.html" class="face">6</a>
            <a href="page7.html" class="face">7</a>
            <a href="page8.html" class="face">8</a>
            <a href="page9.html" class="face">9</a>
            <a href="page10.html" class="face">10</a>
            <a href="page11.html" class="face">11</a>
            <a href="page12.html" class="face">12</a>
            <a href="page13.html" class="face">13</a>
            <a href="page14.html" class="face">14</a>
            <a href="page15.html" class="face">15</a>
            <a href="page16.html" class="face">16</a>
            <a href="page17.html" class="face">17</a>
            <a href="page18.html" class="face">18</a>
            <a href="page19.html" class="face">19</a>
            <a href="page20.html" class="face">20</a>
        </div>
    </div>
</body>
</html>